body {
    background-color: aquamarine;
}

.container {
    display: grid;
    justify-items: center;
    width: 100%;
}

#calc {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
    "display display display display"
    "seven eight nine add"
    "four five six subtract"
    "one two three multiply"
    "zero clear equal divide";
}

#display {
  grid-area: display;
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}

#add {
  grid-area: add;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#subtract {
  grid-area: subtract;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#multiply {
  grid-area: multiply;
}

#zero {
  grid-area: zero;
}

#clear {
  grid-area: clear;
}

#equal {
  grid-area: equal;
}

#divide {
  grid-area: divide;
}

h1 {
  margin-top: 40px;
}